.achievements {
    padding-top: 80px;
    @media screen and (min-width: 720px) {
      padding-top: 156px;
    }
  }
  
  .achievements-subtitle {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 8px;
  }
  
  .achievements-title {
    max-width: 542px;
    color: $text-color;
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.04em;
    margin-bottom: 48px;
    @media screen and (min-width: 720px) {
      font-size: 40px;
      line-height: 120%;
    }
  }
  
  .achievements-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    @media screen and (min-width: 720px) {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 640px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 1110px;
      gap: 30px;
    }
  }
  
  .achievements-item {
    width: 312px;
    height: 306px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 rgba(57, 57, 57, 0.1);
    background-image: url(../images/achievements1.webp);
    @media screen and (min-width: 720px) {
      width: 308px;
    }

    @media screen and (min-width: 1200px) {
      width: 350px;
    }
  }
  
  .achievements-item:nth-child(2) {
    background-image: url(../images/achievements2.webp);
  }
  
  .achievements-item:last-child {
    background-image: url(../images/achievements3.webp);
  }
  
  .achievements-article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .achievements-number {
    color: #fff;
    font-family: Open Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2.56px;
  }
  
  .achievements-text {
    width: 318px;
    color: $text-color;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.96px;
  }