.achievements {
    padding-top: 156px;
  }
  .achievements-section {
    padding-bottom: 156px;
  }
  
  .achievements-subtitle {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 8px;
  }
  
  .achievements-title {
    width: 542px;
    color: $text-color;
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.6px;
    margin-bottom: 48px;
  }
  
  .achievements-list {
    display: flex;
    gap: 30px;
  }
  
  .achievements-item {
    width: 350px;
    height: 306px;
    padding: 16px;
    background-image: url(../images/achievements1.webp);
  }
  
  .achievements-item:nth-child(2) {
    background-image: url(../images/achievements2.webp);
  }
  
  .achievements-item:last-child {
    background-image: url(../images/achievements3.webp);
  }
  
  .achievements-article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .achievements-number {
    color: #fff;
    font-family: Open Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2.56px;
  }
  
  .achievements-text {
    width: 318px;
    color: $text-color;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.96px;
  }