.hero-section {
    padding-top: 130px;
    padding-bottom: 208px;
    background-image: url(../images/backgroundhero.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero-title {
    width: 920px;
    color: #fff;
    font-size: 128px;
    font-weight: 500;
    line-height: 100%;
  }
  
  .hero-star {
    fill: #fff;
  }
  