.works {
    padding-bottom: 80px;

    @media screen and (min-width: 1200px) {
      padding-bottom: 156px;
    }
  }
  .works-subtitle {
    color: $text-color;
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: left;
  }
  
  .works-title {
    max-width: 312px;
    color: $text-color;
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1.28px;
    max-width: 312px;

    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 120%;
      letter-spacing: 1.6px;
      max-width: 538.544px;
    }

    @media screen and (min-width: 1200px) {
      
    }
  }
  .works-decor {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  .works-list {
    display: flex;
    gap: 7px;
    // justify-content: space-between;
  }

  .works-box {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 48px;
    align-items: center;

    @media screen and (min-width: 768px) {
      align-items: flex-start;
    }

    @media screen and (min-width: 1200px) {
    justify-content: space-between;

  }
  }
  .works-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    background: #fff;
    width: 312px;
    height: 661px;
    flex-shrink: 0;

    @media screen and (min-width: 768px) {
      width: 640px;
      height: 390px;
      flex-direction: row;
    }

    @media screen and (min-width: 1200px) {
      width: 760px;
    height: 368px;
    gap: 27px;
  }
}
  .works-item {
    display: flex;
    gap: 8px;
  }

  .works-item:nth-child(3) {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  .works-img {
    width: 312px;
    height: 325px;
    flex-shrink: 0;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      width: 306px;
      height: 390px;
    }

    @media screen and (min-width: 1200px) {
      width: 353px;
      height: 368px;
    }
  }
  .works-info {
    padding: 0 8px ;

    @media screen and (min-width: 768px) {
      padding-top: 16px;
      padding-left: 0;
      padding-right: 16px;
    }

    @media screen and (min-width: 1200px) {
      padding-left: 0;
    }
  }
  
  .works-text {
      color: #555;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
  }
  
  .works-text-white {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
  }
  
  .works-paragraph {
    color: $bg-color, #171717;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.64px;
    align-self: stretch;
  
    
  }
  
  .works-codi {
    color: $bg-color, #171717;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .works-stars {
   position: absolute;
   right: 16px;
   bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    max-width: 44px;
  }
  
  .works-icon {
    fill: transparent;
    stroke: #171717;
  }
  
  .works-star:first-child > .works-icon {
    fill: #171717;
  }

  .works-out {
    position: relative;
    height: 949px;
    width: 312px;
    border-radius: 20px;
outline: 1px solid var(--white-1, #FFF);
    

    @media screen and (max-width: 767.98px) {
      margin-right: auto;
    margin-left: auto;
    }

    @media screen and (min-width: 768px) {
      height: 678px;
      width: 640px;
    }

    @media screen and (min-width: 1200px) {
     width: 1110px;
     height: 368px;
    }
  }

  .works-out > .works-stars .works-icon {
    fill: white;
  }

  .works-middle {
    position: relative;
    height: 853px;
    width: 312px;
    border-radius: 20px;
outline: 1px solid var(--white-1, #FFF);

    @media screen and (min-width: 768px) {
      height: 582px;
      width: 640px;
    }

    @media screen and (min-width: 1200px) {
     width: 994px;
     height: 368px;
    }
  }

  .works-middle > .works-stars .works-star:first-child .works-icon, .works-middle > .works-stars .works-star:nth-child(2) .works-icon, .works-middle > .works-stars .works-star:nth-child(3) .works-icon {
    fill: white;
  }

  .works-middle > .works-stars .works-icon, .works-in > .works-stars .works-icon, .works-out > .works-stars .works-icon {
    stroke: white;
  }

  .works-in {
    position: relative;
    height: 757px;
    width: 312px;
    border-radius: 20px;
    outline: 1px solid var(--white-1, #FFF);

    @media screen and (min-width: 768px) {
      height: 486px;
      width: 640px;
    }

    @media screen and (min-width: 1200px) {
     width: 877px;
     height: 368px;
    }
  }

  .works-in > .works-stars .works-star:first-child .works-icon, .works-in > .works-stars .works-star:nth-child(2) .works-icon {
    fill: white;
  }